@using HotelProject.WebUI.Models.Role
@model AddRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Role Ekleme Sayfası</h1>
<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn mb-1 btn-rounded btn-primary">Rol Ekle</button>
</form>
