
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Huzur Dolu Tatil</h6>
                <h1 class="text-white mb-4">Otelimizi Daha yakından tanıyın</h1>
                <p class="text-white mb-4">Sizin için hazırlanan youtube videomuzu izleyin</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Rezervasyon yap</a>
            </div>
        </div>
        <div class="col-md-6">
            @* Burası youtubedaki videoyu almamız için paylaş kısmından yerleştir seçtiğinde oradaki kodu alabilirsin. *@
            <iframe width="564" height="409" src="https://www.youtube.com/embed/zr4r3n5Smho?si=8K6GVKTn3zJVxyDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>