@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int sayac = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>İçerik</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td>@item.Contant</td>
            <td><a href="/AdminAbout/UpdateAbout/@item.AboutID" class="btn mb-1 btn-rounded btn-success">Güncelle</a></td>
        </tr>
    }
</table>


