@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Personel Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="AboutID" class="form-control" />
    <label>Başlık</label>
    <input type="text" asp-for="Title1" class="form-control" />
    <br />
    <label>Alt Başlık</label>
    <input type="text" asp-for="Title2" class="form-control" />
    <br />
    <label>İçerik</label>
    <input type="text" asp-for="Contant" class="form-control" />
    <br />
    <label>Odası Sayısı</label>
    <input type="text" asp-for="RoomCount" class="form-control" />
    <br />
    <label>Müşteri Sayısı</label>
    <input type="text" asp-for="StaffCount" class="form-control" />
    <br />
    <label>Personel Sayısı</label>
    <input type="text" asp-for="CustomerCount" class="form-control" />
    <br />
    <button class="btn mb-1 btn-rounded btn-primary">Personel Güncelle</button>
</form>

