@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Otel Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <th>@item.name</th>
                <th>@item.reviewScore</th>
                <th><a href="#" class="btn btn-dark">Otel Detayları</a></th>
            </tr>
        }
    </table>
</div>
