@model AdminMailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="email" asp-for="ReceiverMail" class="form-control" />
    <br />
    <label>Konu</label>
    <input type="text" asp-for="Subject" class="form-control" />
    <br />
    <label>Mesajınız</label>
    <textarea class="form-control h-150px" rows="6" asp-for="Body"></textarea>
    <br />
    <button class="btn mb-1 btn-rounded btn-primary">Gönder</button>
</form>
