@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int sayac = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adı Soyadı</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.City</td>
            <td><a href="/Guest/DeleteGuest/@item.GuestID" class="btn mb-1 btn-rounded btn-danger">Sil</a></td>
            <td><a href="/Guest/UpdateGuest/@item.GuestID" class="btn mb-1 btn-rounded btn-success">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Guest/AddGuest/" class="btn mb-1 btn-rounded btn-primary">Yeni Müşteri Girişi</a>

